spring:
  application:
    name: sunflower-backend
  flyway:
    enabled: true
    locations: classpath:db/migration/common

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never
