spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    locations: classpath:db/migration/common
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

management:
  endpoint:
    health:
      show-details: never

app:
  auth:
    token:
      secret: ${AUTH_TOKEN_SECRET}
      ttl-seconds: ${AUTH_TOKEN_TTL_SECONDS:7200}
